include MANIFEST.in
include ICP/ICP.py
include ICP/__init__.py
include ICPImageScanner/ICPImageScanner.py
include ICPImageScanner/__init__.py
include setup.py
include Makefile
include README
include ICP-2.1.1.html
include TestICP/ICP.py
include TestICP/TestFontFileAvailability.py
include TestICP/TestPixelAcquisitionModel.py
include TestICP/TestPixelAcquisitionData.py   
include TestICP/Test.py*
include TestICP/linedata.jpg   
include TestICP/linemodel.jpg  
include Examples/README
include Examples/binary_image_registration_example1.py*
include Examples/binary_image_registration_example2.py*
include Examples/cleanup_directory.py*
include Examples/color_image_registration_with_corner_pixels_example1.py*
include Examples/color_image_registration_with_edge_pixels_example1.py*
include Examples/color_image_registration_with_edge_pixels_example2.py*
include Examples/color_image_registration_with_edge_pixels_example3.py*
include Examples/gen_synthetic__model_and_data.py*
include Examples/highway2.jpg
include Examples/highway.jpg
include Examples/newline1.jpg
include Examples/newline2.jpg
include Examples/square2.jpg
include Examples/square.jpg
include Examples/SydneyOpera2.jpg
include Examples/SydneyOpera.jpg
include Examples/textured2.jpg
include Examples/textured.jpg
include Examples/triangle1.jpg
include Examples/triangle2.jpg
include ExamplesICPImageScanner/README
include ExamplesICPImageScanner/RunICPImageScanner.py
include ExamplesICPImageScanner/ICPforOneSubimagePair.py
include ExamplesICPImageScanner/ICPforScannerDump_no_intermediate_results.py
include ExamplesICPImageScanner/ICPforScannerDump_show_intermediate_results.py
include ExamplesICPImageScanner/cleanup_scanner_directory.py
include ExamplesICPImageScanner/tommy_chang1.jpg
include ExamplesICPImageScanner/tommy_chang2.jpg
